{% extends 'partials/base.html' %}

{% load static %}

{% block content %}

<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="{% static 'assets/images/banner/hero-bg.png' %}"></div>
  </div>
  

  

<section class="product-details padding-bottom mt--240 mt-lg--440">
    <div class="container">
        <div class="product-details-slider-top-wrapper">
            <div class="product-details-slider owl-theme owl-carousel" id="sync1">
                <div class="slide-top-item">
                    <div class="slide-inner">
                        <img src="{{pro.images.url}}" alt="product">
                    </div>
                </div>
                <div class="slide-top-item">
                    <div class="slide-inner">
                        <img src="{{pro.images.url}}" alt="product">
                    </div>
                </div>
        </div>

            <span class="det-prev det-nav">
                <i class="fas fa-angle-left"></i>
            </span>
            <span class="det-next det-nav active">
                <i class="fas fa-angle-right"></i>
            </span>
        </div>
        <div class="row mt-40-60-80">
            <div class="col-lg-8">
                <div class="product-details-content">
                    <div class="product-details-header">
                        <h2 class="title">{{pro.name}}</h2>
                        <ul>
                            <li>{{pro.category}}</li>
                        </ul>
                    </div>
                    <ul class="price-table mb-30">
                        <li class="header">
                            <h5 class="current">{{pro1.user.user.username}}</h5>
                        </li>
                        <li>
                            <span class="details">Minium Price :</span>
                            <h5 class="info">{{pro.min_price}}.00 XAF</h5>
                        </li>
                    </ul>
                    <div class="buy-now-area">
                        <a href="#0" class="rating custom-button active border"><i class="fas fa-star"></i> Add to Wishlist</a>
                        <div class="share-area">
                            <span>Share to:</span>
                            <ul>
                                <li>
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-sidebar-area">
                    <div class="product-single-sidebar mb-3">
                        <h6 class="title">Start Auction Session :</h6>
                        <div class="countdown">
                            <div id="">{{pro.session.time}}</div>
                        </div>
                        <h6 class="title">End Auction Session :</h6>
                        <div class="countdown">
                            <div id="">{{end2}}</div>
                        </div>
                        <h6 class="title">Session Date : </h6>
                        <div class="countdown">
                            <div id="">{{pro.session.date.date}}</div>
                        </div>

                        </div>
                        
                        <br />

                        {% if pro.temp == 0 %}
                        <form action="{% url 'view_auction' pro.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" style="width:100%" onclick="return confirm('Are you sure?')">Participate</button>
                        </form>
                        {% else %}
                        <div align="center" style="color:red">Already Participated</div>
                        {% endif %}
    
                    </div>
                    
        
                </div>
            </div>
        </div>
    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Product Details Section Ends Here =============-->


{% endblock %}